<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Delete User Information</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <h1>Delete User Information</h1>
        <br><br>
        <form action="/delete" method="POST"> <!-- Use POST method -->
            <input type="hidden" name="s_no"> <!-- Hidden input for record ID -->
          
           
          
            <label for="roll_no">Roll No:</label>
            <input type="text" id="roll_no" name="roll_no" required><br>
            <br>
            <button type="submit">Delete</button>
            <br><br>
        </form>
    </div>
</body
